# Weather API Keys (Server-side only)
TOMORROW_KEY=LDkDKLopDlUYMU6DGU9Y5AoTebnUnQ2w
VISUAL_CROSSING_KEY=EBBUFAL3MXESWD8V2CH27XLY9
OWM_KEY=fd162c4514bb1a893ea38b7b8a91224e

# Google Gemini API Key
GEMINI_API_KEY=

# OneSignal Web Push credentials
VITE_ONESIGNAL_APP_ID=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

# World Air Quality Index API Token
VITE_WAQI_TOKEN=
